@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: rgb(232, 251, 254);
}

#titulo-clinica{
 font-family: "Elms Sans", sans-serif;
 text-align: center;
 color: cornflowerblue;
 font-size: 40px;
}
.hospital{
    display: block;
    margin: auto;
    width: 200px;
}
.bemvindo1{
    font-family: "Elms Sans", sans-serif;
    text-align: center;
    font-size: 70px;
    color: rgb(97, 187, 255);
}

.bemvindo2{
    font-family: "Google Sans", sans-serif;
    text-align: center;
    font-size: 15px;
    color: dodgerblue;
    padding: 40px;
    margin: 80px;
    background-color: rgb(164, 232, 255);
    border-radius: 20px;
}
.textoserviço{
    font-family: "Elms Sans", sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(97, 187, 255);
}

#serviço1{
    font-family: "IBM Plex Serif", serif;
    background-color: #BFE8D2;
    font-size: 20px;
    color: #4E7A67;
    margin: 70px;
    border-radius: 20px;
    padding: 50px;
}

#serviço2{
    font-family: "IBM Plex Serif", serif;
    background-color: #E8A0A8;
    font-size: 20px;
    color: #9B5C66;
    padding: 50px;
    margin: 70px;
    border-radius: 20px;
}

#serviço3{
    font-family: "IBM Plex Serif", serif;
    background-color: #FFF2B3;
    font-size: 20px;
    color: #8A6B2E;
    padding: 50px;
    margin: 70px;
    border-radius: 20px;
}

.profissional{
    font-family: "Elms Sans", sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(97, 187, 255);
}

#medicos1{
    font-family: "IBM Plex Serif", serif;
    background-color: #ddf5e8;
    font-size: 20px;
    color: #3f6254;
    margin: 70px;
    border-radius: 20px;
    padding: 50px;
}

#medicos2{
    font-family: "IBM Plex Serif", serif;
    background-color: #fadde2;
    font-size: 20px;
    color: #7a4e57;
    padding: 50px;
    margin: 70px;
    border-radius: 20px;
}

#medicos3{
    font-family: "IBM Plex Serif", serif;
    background-color: #fff7cc;
    font-size: 20px;
    color: #705a24;
    padding: 50px;
    margin: 70px;
    border-radius: 20px;
}

#avisos{
    font-family: "Google Sans", sans-serif;
    text-align: center;
    font-size: 15px;
    color: dodgerblue;
    padding: 40px;
    margin: 80px;
    background-color: rgb(164, 232, 255);
    border-radius: 20px;
}

.fala1{
    font-family: "Google Sans", sans-serif;
    text-align: left;
    font-size: 25px;
    color: rgb(54, 54, 54);
    padding: 40px;
    margin: 80px;
    background-color: rgb(155, 155, 155);
    border-radius: 20px;
}

.foto{
     width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-right: auto;
}

.fala2{
    font-family: "Google Sans", sans-serif;
    text-align: left;
    font-size: 25px;
    color: rgb(54, 54, 54);
    padding: 40px;
    margin: 80px;
    background-color: rgb(155, 155, 155);
    border-radius: 20px;
    }