@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap');

h1 {
    color: aqua;
    font-family: "Unica One", sans-serif;
    font-size: 80px;
}

h2 {
    color: aquamarine;
     font-family: "Quantico", sans-serif;
}